* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nunito", sans-serif;
    background: url(/assets/bg1.gif);
}


.main {
    text-align: center;
}

.main h1 {
    font-size: 6vw;
    text-overflow: hidden;
    color: yellow;
    text-shadow: 2px 8px rgba(0, 0, 0, 0.6);
}

.main p {
    font-size: 2vw;
    text-overflow: hidden;
    color: rgb(214, 214, 214);
    text-shadow: 2px 8px rgba(0, 0, 0, 0.6);
}

.input {
    text-align: center;
    margin: 100px auto;
}

input[type="submit"] {
    padding: 15px 30px;
    background: #c7c7c769;
    border: none;
    border-radius: 1px;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;

}


.input input[type="text"] {
    width: 600px;
    height: 55px;
    padding: 5px 10px;
    background: #99999977;
    border: none;
    border-radius: 1px;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.temp {
    color: rgb(255, 157, 0);
}

.desc {
    color: rgb(255, 157, 0);
}

.emoji p {
    font-size: 100px;
}

#name {
    font-size: 3vw;
    text-overflow: hidden;
    color: rgb(194, 34, 34);
    text-shadow: 2px 8px rgba(0, 0, 0, 0.6);
}

.card {
    width: 50%;
    background: #777777a4;
    height: 40vh;
    margin: 50px auto;
    border-radius: 2px;
}


.close {
    float: right;
    margin-top: -2px;
    cursor: pointer;
    margin-right: 20px;
}

.card h1 {
    padding: 5px 0;
    text-align: center;
}

.card p {
    text-align: center;
    margin: 40px 0;
    font-size: 20px;
}